*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

section{
    height: 100vh;
}

section#principal{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    color:#216E9F;
    font-family: 'Palanquin Dark', sans-serif;
    font-size: 3rem;
}

h2{
    color: #4DACAF;
    font-family: 'Palanquin Dark', sans-serif;
    font-size: 2rem;
    text-align: center;
}

.listaDeCursos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.curso{
    border: 5px solid #216E9F;
    border-radius: 10px;
    width: 300px;
    margin: 20px;
}

.listaDeCursos img{
    width: 100%;
}

header{
    position: sticky;
    top: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #7DEEF1
}

nav{
    
}

nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px 20px;
    background-color: #4DACAF;
}